/*导航*/
.top{
	width: 100%;
	background-color: #f5f5f5;
}
.top .top-image{
	text-align: center;
	width: 100%;
	height: 100px;
	background-color: #e8113d;
}
.top .top-image img{
	width: 1193px;
	height: 100%;
}
.top .topL{
	float: left;
	width: 340px;
	height: 36px;
	box-sizing: border-box;
}
.top .topL-item{
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}
.top .topL-item a{
	color: #666666;
	font-size: 12px;
}
.top .topL-item i{
	font-size: 13px;
	color:#cdc5cd;
	padding-left: 3px;
	vertical-align:-2px;
}
.top .topL-item .zb{
	font-size: 20px;
	margin-right: 3px;
	color: #ffae30;
}
.top .topR{
	float: right;
	height: 36px;
	width: 670px;
}
.top .topR .topR-nav{
	float: left;
	margin-right: 18px;
	margin-top: 5px;
}
.top .topR .topR-nav a{
	color: #666666;
	font-size: 12px;
}
.top .topR .zhuce a{
	color: #ff6600;
}
.top .topR .topR-nav i{
	font-size: 13px;
	color:#cdc5cd;
	padding-left: 3px;
	vertical-align:-2px;
}
.top .topR .topR-cart{
	float: left;
	height: 100%;
	width: 100px;
	text-align: center;
	margin-right: 18px;
	background-color: #fff;
	padding-top: 5px;
	box-sizing: border-box;
}
.top .topR .topR-cart a{
	color: #ff6600;
	font-size: 12px;
}
.top .topR .topR-cart a i{
	font-size: 16px;
	color:#ff6600;
	padding-right: 3px;
	vertical-align:-2px;
}
.top .topR .topR-cart i{
	font-size: 13px;
	color:#cdc5cd;
	padding-left: 3px;
	vertical-align:-2px;
}
.top .topR .topR-item{
	float: left;
	margin-right: 18px;
	margin-top: 5px;
}
.top .topR .topR-item a{
	color: #666666;
	font-size: 12px;
}
.top .topR .topR-item i{
	font-size: 12px;
	color:#cdc5cd;
	padding-left: 3px;
	padding-bottom: 20px;
}
.top .topR .on{
	position: absolute;
	top: 2px;
	right: 56px;
	font-size: 14px;
	color:rgba(0,0,0,0.2);
}
.top .topR img{
	position: fixed;
	right: 0px;
	top: 0px;
	width: 55px;
	height: 150px;
	z-index: 99;
}
.top .left{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 33px;
	height: 788px;
	background-color: #383838;
	overflow: hidden;
	z-index: 98;
}
.top .left .cart{
	width: 100%;
	height: 183px;
	margin-top: 180px;
	text-align: center;
}
.top .left .cart .user{
	width: 36px;
	height: 30px;
}
.top .left .cart .user i{
	position: relative;
	right: 2px;
	font-size: 18px;
	line-height: 36px;
	color: #efa431;
}
.top .left .cart .buy{
	margin-top: 6px;
	position: relative;
	width: 36px;
	height: 120px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
	box-sizing: border-box;
}
.top .left .cart .cart-ct i{
	position: absolute;
	top: 6px;
	right: 10px;
	font-size: 20px;
	color: #fff;
}
.top .left .cart .buy-cart{
	position: absolute;
	top: 32px;
	right: 12px;
	width: 15px;
	height: 15px;	
}
.top .left .cart .buy-cart a{
	color: #fff;
	font-size: 12px;
}
.top .left .cart .num{
	display: inline-block;
	position: absolute;
	top: 95px;
	right: 9px;
	width: 20px;
	height: 16px;
	background-color: #dd0000;
	border-radius: 30%;
	font-size: 12px;
	color: #fff;
}
.top .left .manage{
	width: 100%;
	height: 96px;
	margin-top: 70px;
	text-align: center;
}
.top .left .manage .manage-item{
	margin-top: 5px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
}
.top .left .manage .manage-item i{
	font-size: 16px;
	color:  #efa431;
}
.top .left .manage .manage-item .name{
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	color:  #efa431;
	font-size: 10px;
	border:1px solid #efa431;
}
.top .left .service{
	width: 100%;
	height: 130px;
	margin-top: 120px;
}
.top .left .service .service-item{
	text-align: center;
	margin-top: 5px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
}
.top .left .service .service-item i{
	font-size: 15px;
	color:  #efa431;
}



/*logo 搜索框 轮播图*/
.header{
	height: 633px;
}
.header .header-nav{
	width: 100%;
	height: 149px;
	background-color: #fff;
}
.header .logo .logo1{
	float: left;
	width: 191px;
	height: 90px;
}
.header .logo .logo2{
	float: left;
	width: 160px;
	height: 100px;
}
.header .search{
	position: relative;
}
.header .search .hot-search{
	float: left;
	border:2px solid #ff9900;
	width: 420px;
	height: 42px;
	background-color: #fff;
	box-sizing: border-box;
	margin-top: 30px;
	margin-left: 10px;
	position: relative;
}
.header .search .hot-search i{
	color: #ccccd0;
	font-size: 15px;
	line-height: 39px;
	margin-left: 10px;
}
.header .search .hot-search .txt{
	color: #ccccd0;
	font-size: 14px;
}
.header .search .click-search{
	position: absolute;
	top: -32px;
	left: 418px;
	width: 118px;
	height: 42px;
	margin-top: 30px;
	background-color: #ff9900;
	text-align: center;
}
.header .search .click-search a{
	line-height: 42px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.header .search .search-list{
	position: absolute;
	top: 70px;
	left: 360px;
}
.header .search .search-list .search-item{
	padding-top: 3px;
	padding-right: 10px;
	float: left;	
}
.header .search .search-list .search-item a{
	font-size: 12px;
	color: #999999;
	border-right:1px solid #dddddd;
	padding-right: 10px;
}
.header .search .search-list .search-item2 a{
	color: #ff6600;
}
.header .search .search-list .search-item8 a{
	border-right:none;
}
.header .catalogue{
	position: relative;
	height: 149px;
}
.header .catalogue .catalogue-nav{
	position: absolute;
	left: 0px;
	top: 109px;
	width: 191px;
	height: 40px;
	background-color: #ff9900;
	line-height: 40px;
}
.header .catalogue .catalogue-nav a i{
	padding-left: 10px;
	color: #fff;
	font-size: 10px;
	font-weight: 300;
}
.header .catalogue .catalogue-nav a span{
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
.header .catalogue .catalogue-item{
	position: absolute;
	left: 191px;
	top: 109px;
	width: 828px;
	height: 40px;
}
.header .catalogue .catalogue-item .list-item{
	float: left;
	padding-left: 28px;
	line-height: 40px;
}
.header .catalogue .catalogue-item .list-item a{
	font-size: 15px;
	font-weight: 700;
	color: #333333;
}
.header .catalogue .catalogue-item .list-item a img{
	position: absolute;
	width: 16px;
	height: 19px;
}
.header .catalogue .catalogue-end{
	position: absolute;
	top: 109px;
	left: 1019px;
	width: 167px;
	height: 40px;
	background-color: pink;
	box-sizing: border-box;
}
.header .catalogue .catalogue-end img{
	width: 100%;
	height: 40px;
}
.header .cart{
	width: 1185px;
	height: 484px;
	position: relative;
}
.header .cart .cart-nav{
	float: left;
	width: 191px;
	height: 484px;
	background-color: #252221;
}
.header .cart .cart-nav .cart-nav-item{
	padding: 10px 0 0 10px;
	color: #fff;
}
.header .cart .cart-nav .cart-nav-item em{
	display: inline-block;
	vertical-align:middle;
	width: 1px;
	height: 13px;
	background-color: #6d6b6a;
	margin:0 8px;
}
.header .cart .cart-nav .cart-nav-item a{
	color:#fff;
	font-size: 13px;
}
.header .cart .cart-item{
	float: left;
	width: 823px;
	height: 484px;
	position: relative;
}
.header .cart .cart-item img{
	position: absolute;
	width: 823px;
	height: 484px;
}
.header .cart .cart-item .array{
	display: inline-block;
	height: 60px;
	width: 30px;
	opacity: 0.8;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	text-align: center;
}
.header .cart .cart-item .array i{
	color: #fff;
	font-size: 24px;
	line-height: 60px;
}
.header .cart .cart-item .left-array{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
}
.header .cart .cart-item .right-array{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -30px;
}
.header .cart .cart-item .btn{
	position: absolute;
	bottom: 140px;
	left: 50%;
	margin-left: -44px;
}
.header .cart .cart-item .btn-list{
	float: left;
	width: 17px;
	height: 17px;
	background-color: #c6cae4;
	border-radius: 50%;
	margin-left: 5px;
	opacity: 0.9;
}
.header .cart .cart-item .btn .active{
	background-color: #d09243;
}
.header .cart .cart-item .follow{
	bottom:8px;
	left: 11px;
	position: absolute;
	width: 807px;
	height: 126px;
}
.header .cart .cart-item .follow .flist{
	float: left;
	width: 198px;
	height: 126px;
	background-color: #fafbfc;
	margin-right: 3px;
	position: relative;
}
.header .cart .cart-item .follow .flist img{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 80px;
	height: 80px;
}
.header .cart .cart-item .follow .flist .name{
	padding: 10px 20px 0 10px;
	font-size: 16px;
	color: #eb442a;
	font-weight: 900;
}
.header .cart .cart-item .follow .flist .name2{
	color: #973bed;
}
.header .cart .cart-item .follow .flist .name3{
	color: #47b074;
}
.header .cart .cart-item .follow .flist .name4{
	color: #2883ed;
}
.header .cart .cart-item .follow .flist .desc{
	padding: 5px 0 0 10px;
	font-size: 13px;
	color: #676869;
}
.header .cart .cart-end{
	float: left;
	width: 171px;
	height: 484px;
	background-color: #ffffff;
}
.header .cart .cart-end .cart-end-nav{
	width: 171px;
	height: 160px;
	background-color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px solid #f2f2f2;
}
.header .cart .cart-end .cart-end-nav a img{
	padding-top: 15px;
	width: 38px;
	height: 38px;
}
.header .cart .cart-end .cart-end-nav a .desc{
	padding-top: 15px;
	font-size: 11px;
	color: #333333;
}
.header .cart .cart-end .cart-end-nav a .fk{
	display: inline-block;
	line-height: 22px;
	width: 70px;
	height: 22px;
	margin-top: 5px;
	margin-left: 3px;
}
.header .cart .cart-end .cart-end-nav a .new{
	border:1px solid #ffaf14;
	color: #ffaf14;
	font-size: 12px;
}
.header .cart .cart-end .cart-end-nav a .super{
	border:1px solid #885126;
	background-color: #120300;
	color: #ffc491;
	font-size: 13px;
}
.header .cart .cart-end .cart-end-nav a .lj{
	display: inline-block;
	width: 70px;
	height: 20px;
	color: #ff8031;
	background-color: #ffe5dd;
	border-radius: 20%;
	font-size: 10px;
	line-height: 20px;
	margin-top: 10px;
	margin-left: 3px;
}
.header .cart .cart-end .cart-end-nav a .cloud i{
	font-size: 12px;
	color: #49ceec;
}
.header .cart .cart-end .cart-end-nav a .ticket i{
	font-size: 12px;
}
.header .cart .cart-end .cart-end-item{
	width: 171px;
	height: 162px;
	background-color: #fff;
}
.header .cart .cart-end .cart-end-item .cart-end-item-list{
	width: 145px;
	height: 35px;
	font-size: 12px;
	margin-left: 10px;
	line-height: 20px;
	padding-top: 10px;
}
.header .cart .cart-end .cart-end-item .cart-end-item-list a p{
	color: #333333;
}
.header .cart .cart-end .cart-end-item .cart-end-item-list p span{
	color:#ff7c62;
}
.header .cart .cart-end .cart-end-list{
	width: 171px;
	height: 160px;
}
.header .cart .cart-end .cart-end-list .hot-channel{
	height: 160px;
}
.header .cart .cart-end .cart-end-list .hot-channel .hot-channel-item{
	float: left;
	position: relative;
	width: 57px;
	height: 80px;
	padding-top: 20px;
	box-sizing: border-box;
	text-align: center;
}
.header .cart .cart-end .cart-end-list .hot-channel .hot-channel-item a{
	font-size: 11px;
	color: #333333
}
.header .cart-end-list .hot-channel .hot-channel-item a i{
	display: block;
	font-size: 22px;
	margin-bottom: 7px;
	color: #ff9900;
}
.header .cart-end-list .right-line:after{
	display: block;
	position: absolute;
	top: 5px;
	left: 57px;
	content: "";
	width: 1px;
	height: 80px;
	background: #bbb;
	opacity: 0.2;
}
.header .cart-end-list .top-line:before{
	display: block;
	position: absolute;
	top: 0px;
	left: 8px;
	content: "";
	width: 65px;
	height: 1px;
	background: #bbb;
	opacity: 0.2;
}
.header .cart-left{
	position: absolute;
	left: -195px;
	bottom: -1px;
	width: 195px;
	height: 486px;
}
.header .cart-right{
	position: absolute;
	right:-175px;
	bottom: 0px;
	width: 175px;
	height: 484px;
}

/*闪购和轮播图下*/
.main{
	height: 924px;
	background-color: #fff;
	position: relative;
}
.main .main-img img{
	width: 100%;
	height: 600px;
}
.main .col1{
	width: 100%;
	margin-top: -4px;
	position: relative;
	top: -440px;
	box-sizing: border-box;
}
.main .col1 .col1-list{
	float: left;
	width: 230px;
	height: 210px;
	margin-right: 9.7px;
	margin-bottom: 10px;
	box-sizing: border-box;
	text-align: center;
}
.main .col1 .col1-list:nth-child(5){
	margin-right: 0;
}
.main .col1 .col1-list:nth-child(10){
	margin-right: 0;
}
.main .col1 .col1-list img{
	width: 120px;
	height: 120px;
	z-index: 999;
}
.main .col1 .col1-list .desc{
	padding-top: 10px;
	font-size: 18px;
	color: #fff;
}
.main .col1 .col1-list .desc2{
	padding-top: 16px;
}
.main .col1 .col1-list .price{
	font-size: 15px;
	color: #ea0012;
	padding-top: 10px;
}
.main .product{
	width: 100%;
	height: 300px;
	background-color: aqua;
	margin-top: 20px;
}




.home{
	height: 2000px;
	background-color: green;
}
.footer{
	height: 281px;
	background-color: tomato;
}
.end{
	height: 353px;
	background-color: gray;
}